body {
  background-color: #333;
  color: #f9f9f9;
}

div {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #f9f9f9;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #ccc;
}

h2 {
  color: #f9f9f9;
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.link {
	display: block;
	background-color: #444;
	margin: 10px 0;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	color: #f9f9f9;
	text-decoration: none;
}

.link:hover {
	color: #f9f9f9;

	background-color: #555;
}